/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    font-size: medium;
    text-align: center;
    background-color: #f0f0f0; /* Light gray background */
    color: #3c8bdb; /* Dark gray text color */
}

/* Navigation styles */
nav {
    background-color: #db4747; /* Dark gray background for the navigation bar */
    color: #fff; /* White text color */
    font-size: 25px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* White text color for navigation links */
}

nav ul li a:hover {
    color: #ffcc00; /* Yellow text color on hover */
}

/* Hide element by default */
.hide {
    display: none;
}

/* Form styles */
form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    background-color: #333; /* Dark gray background */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ffcc00; /* Yellow background on hover */
}

/* Extra styling */
h1 {
    color: #333; /* Dark gray text color */
    font-size: 2em; /* Large font size */
    margin-bottom: 20px;
}

h2 {
    color: #666; /* Medium gray text color */
    font-size: 1.5em; /* Medium font size */
    margin-bottom: 15px;
}

h3 {
    color: #777; /* Light gray text color */
    font-size: 1.2em; /* Small font size */
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    font-size: medium;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff; /* Blue */
    color: #fff; /* White */
}

button:hover {
    background-color: #0056b3; /* Dark blue on hover */
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    nav ul li a {
        display: block;
    }
}

