/* style.css */
body {
    font-family: Arial, sans-serif;
}

#loginForm {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginForm h2 {
    text-align: center;
}

#authForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginForm input {
    width: calc(100% - 20px); /* Subtracting padding from width */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding is included in width */
}

#loginForm button {
    width: calc(100% - 20px); /* Subtracting padding from width */
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box; /* Ensure padding is included in width */
}
